@{
    ViewBag.Title = "Add New Availability";
}

@section subhead {
<h2>Add New Availability</h2>
}

<table class="table">
    <tr>
        <th>Product</th>
        <th>Pack Size</th>
        <th>Unit Price</th>
    </tr>
    <tr>
        <td>Kohlrabi</td>
        <td>Pound</td>
        <td>$5 per pound</td>
    </tr>
</table>
<button class="btn btn-primary" type="button"><i class="icon-plus"></i> Add Stuff</button>